* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    background-color: cadetblue;
    width: 100%;
    min-height: 100px;
    border: 2px solid black;
    display: flex;
    justify-content: flex-start;
}
.header__img{
    border: 1px solid black;
    border-bottom: none;
    width: 100px;
    height: 98px;
}
.nav{
    width: 100%;
}
.text{
    font-size: 16px;
}
.tittle{
    padding: 1rem;
    height: 80px;
    text-align: center;
    color: white;
    background-color: rgb(110, 163, 163) ;
    border: 3px solid rgb(53, 122, 122) ;
}
.main{
    background-image: url(Img/fondo-claro.svg);
}
img{
    width: 100%;
    max-height: 400px;

}
.img__servicio{
    width: 130px;
    height: 150px;
    padding: 10px;
    border: 2px solid rgb(53, 122, 122);
    border-radius: 60px;
}
.contenedor{
    margin-top: 12px;
    border: 3px solid rgb(53, 122, 122);
    background-color: rgb(110, 163, 163);
}   
.text{
    color: black;
    text-align: center;
}
.subtittle{
    font-size: 30px;
    padding-top: 10px;
}
.parrafo{
    padding-top: 50px;
}
.nosotros__contenedor{
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 100px;

    
}
.nosotros__img{
    width: 500px;
    height: 500px;
    border: 3px solid black
}
.boxtext{
    background-color: white;
    border: 3px solid black;
}
.nosotros__subtittle{
    text-align: center;
    font-weight: bold;
    padding-top: 30px;
}
.nosotros__text{
    padding-top: px;
    text-align: center;
    color: gray;
}
.alarma__img{
    width: 150px;
    height: 150px;
}
.footer{
    background-color: rgb(192, 192, 192);
    width: 100%;
    height: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}
.footer__text{
    padding: 5px;
    align-self: flex-end;
    transform: translatex(-80px);
}
.footer__icons{
    align-self: center;
    font-size: 50px;
    margin-top: 13px;
    margin-right: 15px;
}